<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <h2 id="msg"></h2>
    <form id="loginForm">
        <label for="username">Username:</label>
        <input type="username" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="button" value="Login" onclick='login()'>
    </form>
    <a class="nav-link" href="register.html">Register</a>

    
    <script src="script.js"></script>
</body>
</html>
